<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ITubeService" />
        <binding name="MetadataExchangeHttpBinding_ITubeService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IClinicService" />
        <binding name="MetadataExchangeHttpBinding_IClinicService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISpecimenService" />
        <binding name="MetadataExchangeHttpBinding_ISpecimenService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ITestService" />
        <binding name="MetadataExchangeHttpBinding_ITestService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISexService" />
        <binding name="MetadataExchangeHttpBinding_ISexService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_ISexService1" />
        <binding name="MetadataExchangeHttpBinding_ISexService1">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDoctorService" />
        <binding name="MetadataExchangeHttpBinding_IDoctorService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IDiagnosisService" />
        <binding name="MetadataExchangeHttpBinding_IDiagnosisService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IIndicationService" />
        <binding name="MetadataExchangeHttpBinding_IIndicationService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IPatientService" />
        <binding name="MetadataExchangeHttpBinding_IPatientService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IOrderService" />
        <binding name="MetadataExchangeHttpBinding_IOrderService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IVisitService" />
        <binding name="MetadataExchangeHttpBinding_IVisitService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IInterpretationService" />
        <binding name="MetadataExchangeHttpBinding_IInterpretationService">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IApartmentService" />
        <binding name="MetadataExchangeHttpBinding_IApartmentService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50534/EntityServices/TubeService.svc/mex"
          binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITubeService"
          contract="TubeService.ITubeService" name="MetadataExchangeHttpBinding_ITubeService" />
      <endpoint address="http://localhost:50534/EntityServices/ClinicService.svc/mex"
          binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IClinicService"
          contract="ClinicService.IClinicService" name="MetadataExchangeHttpBinding_IClinicService" />
      
      <endpoint address="http://localhost:50534/EntityServices/SpecimenService.svc/mex"
          binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISpecimenService"
          contract="SpecimenService.ISpecimenService" name="MetadataExchangeHttpBinding_ISpecimenService" />
      
      <endpoint address="http://localhost:50534/EntityServices/TestService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITestService"
                contract="TestService.ITestService" name="MetadataExchangeHttpBinding_ITestService" />
      
      <endpoint address="http://localhost:50534/EntityServices/SexService.svc/mex"
               binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISexService"
               contract="SexService.ISexService" name="MetadataExchangeHttpBinding_ISexService" />

      <endpoint address="http://localhost:50534/EntityServices/DoctorService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDoctorService"
                contract="DoctorService.IDoctorService" name="MetadataExchangeHttpBinding_IDoctorService" />

      <endpoint address="http://localhost:50534/EntityServices/DiagnosisService.svc/mex"
               binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDiagnosisService"
               contract="DiagnosisService.IDiagnosisService" name="MetadataExchangeHttpBinding_IDiagnosisService" />
      <endpoint address="http://localhost:50534/EntityServices/IndicationService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IIndicationService"
                contract="IndicationService.IIndicationService" name="MetadataExchangeHttpBinding_IIndicationService" />

      <endpoint address="http://localhost:50534/EntityServices/PatientService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPatientService"
                contract="PatientService.IPatientService" name="MetadataExchangeHttpBinding_IPatientService" />

      <endpoint address="http://localhost:50534/EntityServices/OrderService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IOrderService"
                contract="OrderService.IOrderService" name="MetadataExchangeHttpBinding_IOrderService" />

      <endpoint address="http://localhost:50534/EntityServices/VisitService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IVisitService"
                contract="VisitService.IVisitService" name="MetadataExchangeHttpBinding_IVisitService" />

      <endpoint address="http://localhost:50534/EntityServices/InterpretationService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IInterpretationService"
                contract="InterpretationService.IInterpretationService" name="MetadataExchangeHttpBinding_IInterpretationService" />

      <endpoint address="http://localhost:50534/EntityServices/ApartmentService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IApartmentService"
                contract="ApartmentService.IApartmentService" name="MetadataExchangeHttpBinding_IApartmentService" />
    
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>

    </services>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>