<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITubeService" />
                <binding name="MetadataExchangeHttpBinding_ITubeService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IClinicService" />
                <binding name="MetadataExchangeHttpBinding_IClinicService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISpecimenService" />
                <binding name="MetadataExchangeHttpBinding_ISpecimenService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ITestService" />
                <binding name="MetadataExchangeHttpBinding_ITestService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISexService" />
                <binding name="MetadataExchangeHttpBinding_ISexService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_ISexService1" />
                <binding name="MetadataExchangeHttpBinding_ISexService1">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IDoctorService" />
                <binding name="MetadataExchangeHttpBinding_IDoctorService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IDiagnosisService" />
                <binding name="MetadataExchangeHttpBinding_IDiagnosisService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IIndicationService" />
                <binding name="MetadataExchangeHttpBinding_IIndicationService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IPatientService" />
                <binding name="MetadataExchangeHttpBinding_IPatientService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IOrderService" />
                <binding name="MetadataExchangeHttpBinding_IOrderService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IVisitService" />
                <binding name="MetadataExchangeHttpBinding_IVisitService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IInterpretationService" />
                <binding name="MetadataExchangeHttpBinding_IInterpretationService">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IApartmentService" />
                <binding name="MetadataExchangeHttpBinding_IApartmentService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50534/EntityServices/SexService.svc/EntityServices/PatientService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISexService"
                contract="SexService.ISexService" name="WSHttpBinding_ISexService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/SexService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISexService"
                contract="SexService.ISexService" name="MetadataExchangeHttpBinding_ISexService" />
            <endpoint address="http://localhost:50534/EntityServices/TestService.svc/EntityServices/TestService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestService"
                contract="TestService.ITestService" name="WSHttpBinding_ITestService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/TestService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITestService"
                contract="TestService.ITestService" name="MetadataExchangeHttpBinding_ITestService" />
            <endpoint address="http://localhost:50534/EntityServices/SpecimenService.svc/EntityServices/SpecimenService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISpecimenService"
                contract="SpecimenService.ISpecimenService" name="WSHttpBinding_ISpecimenService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/SpecimenService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISpecimenService"
                contract="SpecimenService.ISpecimenService" name="MetadataExchangeHttpBinding_ISpecimenService" />
            <endpoint address="http://localhost:50534/EntityServices/TubeService.svc/EntityServices/TubeService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITubeService"
                contract="TubeService.ITubeService" name="WSHttpBinding_ITubeService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/TubeService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ITubeService"
                contract="TubeService.ITubeService" name="MetadataExchangeHttpBinding_ITubeService" />
            <endpoint address="http://localhost:50534/EntityServices/OrderService.svc/EntityServices/OrderService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderService"
                contract="OrderService.IOrderService" name="WSHttpBinding_IOrderService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/OrderService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IOrderService"
                contract="OrderService.IOrderService" name="MetadataExchangeHttpBinding_IOrderService" />
            <endpoint address="http://localhost:50534/EntityServices/VisitService.svc/EntityServices/VisitService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVisitService"
                contract="VisitService.IVisitService" name="WSHttpBinding_IVisitService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/VisitService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IVisitService"
                contract="VisitService.IVisitService" name="MetadataExchangeHttpBinding_IVisitService" />
            <endpoint address="http://localhost:50534/EntityServices/InterpretationService.svc/EntityServices/InterpretationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInterpretationService"
                contract="InterpretationService.IInterpretationService" name="WSHttpBinding_IInterpretationService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/InterpretationService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IInterpretationService"
                contract="InterpretationService.IInterpretationService" name="MetadataExchangeHttpBinding_IInterpretationService" />
            <endpoint address="http://localhost:50534/EntityServices/PatientService.svc/EntityServices/PatientService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPatientService"
                contract="PatientService.IPatientService" name="WSHttpBinding_IPatientService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/PatientService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPatientService"
                contract="PatientService.IPatientService" name="MetadataExchangeHttpBinding_IPatientService" />
            <endpoint address="http://localhost:50534/EntityServices/ApartmentService.svc/EntityServices/ApartmentService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApartmentService"
                contract="ApartmentService.IApartmentService" name="WSHttpBinding_IApartmentService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/ApartmentService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IApartmentService"
                contract="ApartmentService.IApartmentService" name="MetadataExchangeHttpBinding_IApartmentService" />
            <endpoint address="http://localhost:50534/EntityServices/SexService.svc/EntityServices/SexService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISexService1"
                contract="SexService.ISexService" name="WSHttpBinding_ISexService1">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/SexService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ISexService1"
                contract="SexService.ISexService" name="MetadataExchangeHttpBinding_ISexService1" />
            <endpoint address="http://localhost:50534/EntityServices/ClinicService.svc/EntityServices/ClinicService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClinicService"
                contract="ClinicService.IClinicService" name="WSHttpBinding_IClinicService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/ClinicService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IClinicService"
                contract="ClinicService.IClinicService" name="MetadataExchangeHttpBinding_IClinicService" />
            <endpoint address="http://localhost:50534/EntityServices/DiagnosisService.svc/EntityServices/DiagnosisService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDiagnosisService"
                contract="DiagnosisService.IDiagnosisService" name="WSHttpBinding_IDiagnosisService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/DiagnosisService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDiagnosisService"
                contract="DiagnosisService.IDiagnosisService" name="MetadataExchangeHttpBinding_IDiagnosisService" />
            <endpoint address="http://localhost:50534/EntityServices/DoctorService.svc/EntityServices/DoctorService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDoctorService"
                contract="DoctorService.IDoctorService" name="WSHttpBinding_IDoctorService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/DoctorService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IDoctorService"
                contract="DoctorService.IDoctorService" name="MetadataExchangeHttpBinding_IDoctorService" />
            <endpoint address="http://localhost:50534/EntityServices/IndicationService.svc/EntityServices/IndicationService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIndicationService"
                contract="IndicationService.IIndicationService" name="WSHttpBinding_IIndicationService">
                <identity>
                    <userPrincipalName value="abon@isd.dp.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50534/EntityServices/IndicationService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IIndicationService"
                contract="IndicationService.IIndicationService" name="MetadataExchangeHttpBinding_IIndicationService" />
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>

      </services>
    </system.serviceModel>
</configuration>