<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClinicDataSetAccess.Properties.Settings.ConnectionString"
            connectionString="Data Source=&quot;(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SID=NewDB)))&quot;;User ID=SYSMAN;Password=111;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>